
@{
    ViewBag.Title = "Relatorio";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatório</title>
</head>
<body>
    <h1>Relatório - Relação BL-Container</h1>

    <table>
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>

</body>
</html>

