
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Containeres</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <th>
                    <input type="submit" value="Incluir Container" formaction="http://localhost:51886/Container/Form" />
                </th>
                <th>
                    <input type="submit" value="Incluir BL" formaction="http://localhost:51886/BL/Form" />
                </th>
                <th>
                    <input type="submit" value="Listar Containeres" formaction="http://localhost:51886/Container/Index" />
                </th>
                <th>
                    <input type="submit" value="Listar BLs" formaction="http://localhost:51886/BL/Index" />
                </th>
                <th>
                    <input type="submit" value="Relatório" formaction="http://localhost:51886/Container/Relatorio" />
                </th>
            </tr>
        </table>
    </form>
</body>
</html>


